In [ ]:
st_name = "John"
in_number = 5

print("\n".join("".join(ii for ii in st_name) for jj in range(in_number)))

Juan
Juan
Juan
Juan
Juan

In [10]:
st_name = "John Lennon"

print(st_name.lower())
print(st_name.upper())
print(st_name.capitalize())
print(st_name.title())

john lennon
JOHN LENNON
John lennon
John Lennon

In [11]:
st_name = "Juan"
print(f"{st_name} tiene {str(len(st_name))} letras")

Juan tiene 4 letras

In [13]:
st_number = "+34-913724710-56"
ls_split = st_number.split("-")
st_code = ls_split[0]
st_number = ls_split[1]
st_extnsion = ls_split[2]
print(st_number)

913724710

In [14]:
st_sentence = "John is happy"
print(st_sentence[::-1])

yppah si nhoJ

In [16]:
st_sentence = "John is happy"
st_vowel = "a"
print(st_sentence.replace(st_vowel,st_vowel.upper()))

John is hAppy

In [21]:
st_email = "johnlennon@gmail.com"
st_site = 0

for ii in range(0,len(st_email),1):
	if st_email[ii] == "@":
		st_site = ii

print(st_email[:st_site+1]+"ceu.es")
print(st_email[:st_email.find("@")]+"@ceu.es")

johnlennon@ceu.es
johnlennon@ceu.es

In [24]:
st_euros = "12.23"
int_number = st_euros[:st_euros.find(".")]
in_cent = st_euros[st_euros.find(".")+1:]
print(int_number,in_cent)

12 23

In [ ]:
st_date = "21/04/1995"
ls_split = st_date.split("/")
st_day = ls_split[0]
st_month = ls_split[1]
st_year = ls_split[2]

print(st_day)
print(st_month)
print(st_year)

21
04
1995

In [ ]:
st_thing = "Television, home, site, focus, game"
st_split = st_thing.split(",")

print("\n".join(ii for ii in st_split))

Television
 home
 site
 focus
 game

In [32]:
st_product = "Tomatoes"
in_quntity = 200
in_price = 630.25 

print(f"Product: {st_product}, Mount: {in_quntity}, Price: {round(in_price,2)}, Cost: {round(in_quntity*in_price,2)}")

Product: Tomatoes, Mount: 200, Price: 630.25, Cost: 126050.0