In [2]:
in_age = 18 
print("is an adult" if in_age >= 18 else "is not and adult")

is an adult

In [ ]:
st_password = "123.132"
st_compare = "13.235"
print("Welcome" if st_password == st_compare else "Wrong password")

Wrong password

In [5]:
in_number_1 = 456
in_number_2 = 789

result = "Error" if in_number_2 == 0 else in_number_1 / in_number_2
print(result)

0.5779467680608364

In [15]:
in_numbber = 18
print("pair" if in_numbber % 2 == 0  else "odd")

pair

In [18]:
in_age = 17
in_come = 456
print("Paga impuestos" if in_age > 16 or in_come >= 1000 else "No paga impuestos")

Paga impuestos

In [23]:
st_name = "Robert"
st_sex = "Fale"

if st_name[0].lower() < "m" and st_sex == "Female":
	print("A") 

elif st_name[0].lower() > "n" and st_sex == "Male":
	print("A") 

else:
	print("B")

B

In [ ]:
in_income = 10000

if in_income <= 10000:
	in_tax = 5

elif in_income <= 20000:
	in_tax = 15

elif in_income <= 35000:
	in_tax = 20

elif in_income <= 60000:
	in_tax = 30
	
else:
	in_tax = 45

print("Tax", in_income*(in_tax/100), "Income", in_income)

Tax 500.0 Income 10000

In [ ]:
fl_points = 0.1

if  fl_points <= 0.4:
	print(f"Economic advantage: {2400*fl_points}, unacceptable")

elif fl_points >= 0.4 and fl_points <= 0.6:
	print(f"Economic advantage: {2400*fl_points}, acceptable")
	
else:
	print(f"Economic advantage: {2400*fl_points}, meritorious")

Economic advantage: 240.0, unacceptable

In [35]:
in_age = 23

if in_age <= 4:
	print("Free")

elif 4 < in_age and in_age < 18:
	print("pay 5")

elif 18 <= in_age:
	print("pay 10")

else:
	pass

pay 10

In [38]:
st_type = "vegetarian"

if st_type == "vegetarian":
	print("Vegetarian ingredients: Pepper and tofu")
	st_extra = "Pepper"
	
	if  st_extra == "Pepper":
		print("ingredients: mozzarella, tomatoe, Pepper")

	elif  st_extra == "Tofu":
		print("ingredients: mozzarella, tomatoe, tofu")

	else:
		("Error")

elif st_type == "No vegetarian":
	print("No vegetarian ingredients: pepperoni, ham y salmon")
	st_extra = "pepperoni"
	
	if  st_extra == "pepperoni":
		print("ingredients: mozzarella, tomatoe, pepperoni")

	elif  st_extra == "ham":
		print("ingredients: mozzarella, tomatoe, ham")

	elif  st_extra == "salmon":
		print("ingredients: mozzarella, tomatoe, salmon")

	else:
		("Error")

Vegetarian ingredients: Pepper and tofu
ingredients: mozzarella, tomatoe, Pepper