In [ ]:
st_currency = "Peso"
di_options = {'Euro':'€', 'Dollar':'$', 'Yen':'¥'}

try:
	print(di_options[st_currency])

except KeyError:
	print("La divisa no se encuentra en e diccionario")

La divisa no se encuentra en e diccionario

In [5]:
st_name = "Jhon"
st_age = "34"
st_address = "England" 
st_phone = "5585596357"

Diccionario = {"Nombre":st_name, "Edad":st_age, "Direccion":st_address, "Telefono":st_phone}
print(f"{st_name} tiene {st_age} años, vive en {st_address} y su número de télefono es {st_phone}")

Jhon tiene 34 años, vive en England y su número de télefono es 5585596357

In [7]:
di_options = {"Platano":1.35,"Manzana":0.80,"Pera":0.85,"Naranja":0.70}
st_fruit = "Pera"
fl_kilo = 3.5

try:
	print(f"Fruta {st_fruit}, kilo(s) {fl_kilo}, precio total {di_options[st_fruit]*fl_kilo}")

except KeyError:
	print("La fruta no se encuentra en e diccionario")

Fruta Pera, kilo(s) 3.5, precio total 2.975

In [8]:
st_date = "03/05/2024"
di_options = {"01":"Enero",
			   "02":"Febrero",
			   "03":"Marzo",
			   "04":"Abril",
			   "05":"Mayo",
			   "06":"Junio",
			   "07":"Julio",
			   "08":"Agosto",
			   "09":"Septiembre",
			   "10":"Octubre",
			   "11":"Noviembre",
			   "12":"Diciembre"}

st_date = st_date.split("/")
st_day = st_date[0]
st_month = st_date[1]
st_year = st_date[2]

print(f"{st_day} de {di_options[st_month]} de {st_year}")

03 de Mayo de 2024

In [9]:
di_options = {'Matemáticas': 6, 'Física': 4, 'Química': 5}
in_total = 0

for key, value in di_options.items():
	print(f"{key} tiene {value} Creditos")
	in_total += value

print(f"Creditos Totales {in_total}")

Matemáticas tiene 6 Creditos
Física tiene 4 Creditos
Química tiene 5 Creditos
Creditos Totales 15

In [13]:
ls_data = ["Jhon",54,"Masculino",5556233185,"Jhonkog@hotmail.com"]
di_options = {"Nombre":0,"Edad":0,"Sexo":0,"Telefono":0,"Correo":0}
in_count = 0

for Llave, Objeto in di_options.items():
	di_options[Llave] = ls_data[in_count]
	in_count = in_count + 1

di_options

{'Nombre': 'Jhon',
 'Edad': 54,
 'Sexo': 'Masculino',
 'Telefono': 5556233185,
 'Correo': 'Jhonkog@hotmail.com'}

In [14]:
ls_article = ["Ar1","Ar2","Ar3","Ar4","Ar5","Ar6","Ar7","Ar8"]
ls_price = ["Pr1","Pr2","Pr3","Pr4","Pr5","Pr6","Pr7","Pr8"]
ls_save = [0,0,0,0,0,1,0,0,0]
in_stop = 0
in_count = 0 
di_save = {}

while in_stop == 0:
	di_save[ls_article[in_count]] = ls_price[in_count]
	in_count = in_count + 1
	in_stop = ls_save[in_count]

print(di_save,in_count)

{'Ar1': 'Pr1', 'Ar2': 'Pr2', 'Ar3': 'Pr3', 'Ar4': 'Pr4', 'Ar5': 'Pr5'} 5

In [ ]:
di_options = {"hola":"hi","juan":"jhon","como":"how","estas":"are","tu":"you"}
st_traduction = "Hola Juan como estas tu"
st_traduction = st_traduction.lower()
st_traduction = st_traduction.split(" ")
st_new = ""

for ii in range(0,len(st_traduction),1):
	st_new = st_new + di_options[st_traduction[ii]]
	st_new = st_new + " "

print(st_new.capitalize())

Hi jhon how are you

In [17]:
di_data = {"QE-451": 4568,
		   "QE-453": 24}

st_bill = "QE-453"
in_cost = 1754
in_total = 0
in_action = 1

ls_value = list(di_data.values())

if in_action == 1:
	di_data[st_bill] = in_cost

elif in_action == 2:
	di_data.pop(st_bill,0)

else:
	print("This bill don't exist")

print("Total bill",sum(ls_value))
print(di_data)

Total bill 4592
{'QE-451': 4568, 'QE-453': 1754}