In [2]:
print("¡Hello World!")

¡Hello World!

In [ ]:

st_word = "¡Hello World!"
st_word

'¡Hello World!'

In [4]:
st_name = "Jhon"
print(f"¡Hi {st_name}!")

¡Hi Jhon!

In [5]:
fl_reeult = ((3+2)/(2*5))**2
print(fl_reeult)

0.25

In [7]:
in_hours = 8
in_cost_hour = 500
print(in_hours*in_cost_hour)

4000

In [8]:
in_number = 5
in_save = 0

for ii in range(1,in_number+1,1):
	in_save = in_save + ii

print(in_save)

15

In [ ]:
in_mass = 95
in_height = 177

fl_IMC = in_mass/((in_height/100)**2)
print(f" Your body mass index is {round(fl_IMC,2)}")

Tu indice de masa corporal es 30.32

In [ ]:
in_divisor = 4
in_dividend = 27
fl_operation = in_dividend//in_divisor
in_rest = in_dividend%in_divisor

print(f"{in_dividend} between {in_divisor} gives a quotient {fl_operation} and a remainder of {in_rest}")

In [13]:
in_quanntitty = 100000
in_interest = 10
in_years = 5

round(in_quanntitty*(in_interest/100+1)**in_years)

161051

In [14]:
in_clown = 1
in_dolls = 1
in_clown_dollar =  112
in_dolls_dollar =  75

print(f" weight clown: {(in_clown_dollar*in_clown)/100}, weight dolls: {(in_dolls_dollar*in_dolls)/100}, total it is {(in_clown_dollar*in_clown)/100+(in_dolls_dollar*in_dolls)/100} kg")

 weight clown: 1.12, weight dolls: 0.75, total it is 1.87 kg

In [17]:
in_interest = 4
in_quantity = 10
in_years = 3

round(in_quantity*(in_interest/100+1)**in_years,2)

11.25

In [20]:
in_cost_bar = 3.49
in_not_fresh = 2
in_fresh = 3

print(f"Fresh bread {in_fresh}, not fresh bread {in_not_fresh}, Total = {(in_fresh*in_cost_bar)+(in_not_fresh*in_cost_bar*0.6)}")

Fresh bread 3, not fresh bread 2, Total = 14.658000000000001